body
{
    background-color:whitesmoke;
}
#Navbar
{
    display: grid ;
    grid-template-columns: 50% 50%;
    align-items: center;
    color:white;
    padding: 1.5rem;
    background-color: #2A4C99;
    border-bottom: 1px solid white;
}
#Component-1
{
    display: flex;
    align-items: center;
    margin-left: 10%;
}
#Component-2
{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    margin-right: 10%;
}
#Component-2 h6
{
    margin-right: 1rem;
    font-family: 'Nunito';
    font-weight: 300;
}
#Component-2 h3
{
    margin-top: -1rem;
}
#Cover-Holder {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #Cover-Inner {
    max-width: 1000px;
    text-align: center;
  }

  #Cover-Inner h6 {
    margin-bottom: 20px;
  }

  #Cover-Inner img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    max-height: 200px;
  }

  @media (max-width: 768px) {
    #Cover-Inner {
      padding: 10px;
    }
  }



@media (max-width: 768px) 
{

}
  
@media (max-width: 480px) 
{
    #Navbar
    {
        grid-template-columns: 100%;
    }
    #Component-1
    {
        display: flex;
        justify-content: center;
        margin-left: 0%;
    }
    #Component-2
    {
        display: flex;
        margin-right: 0%;
        justify-content: center;
    }
         
}